* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
}

img {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.headerText {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
.headerText h1 {
  color: white;
  font-size: 3em;
}
.headerText ul {
  display: flex;
  align-items: center;
}
.headerText ul li {
  list-style-type: none;
  margin-right: 1em;
  font-size: 1.5em;
  font-weight: 600;
}
.headerText ul input {
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 1.3em;
  border-style: none;
  color: blue;
  font-weight: 600;
  cursor: pointer;
}
.descriptionTour {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
}
.descriptionTour h1 {
  font-size: 5em;
  text-align: center;
  color: white;
}
.descriptionTour input {
  padding: 1.7em 3.5em;
  border-radius: 1em;
  border-style: none;
  color: white;
  background-color: blue;
  font-size: large;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2em;
  cursor: pointer;
}
