@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --light: #fff;
  --bg-color: #c5c3c4;
  --yellow: #9a7417;
  --orange: #c66b3d;
  --blue: #023c40;
  --dark: #000;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --bg-filter-opacity: 0.3;
}

* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  color: var(--blue);
  font-size: 16px;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: var(--bg-color);
  margin: 0;
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      45deg,
      rgba(6, 34, 48, 0.2),
      rgba(6, 34, 48, 0.5)
    ),
    url('https://images.unsplash.com/photo-1594294749004-f13f15ed9f33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  position: relative;
}

img {
  max-width: 100%;
}

.word-highlighter {
  color: var(--yellow);
  font-weight: bold;
}

.subtitle {
  font-size: 30px;
}

/*-------------------------------- NAV-BAR --------------------------------*/
.main-nav {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 10%;
  letter-spacing: 5px;
}

.logo {
  color: var(--primary);
  text-transform: uppercase;
}

.logo,
button {
  cursor: pointer;
}

.main-nav ul {
  flex: 1;
  text-align: right;
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.main-nav a {
  color: var(--light);
  letter-spacing: 3px;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
}

.main-nav a:hover {
  color: var(--yellow);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--light);
  margin: 6px;
}

.main-nav ul li::after {
  content: '';
  height: 2px;
  width: 0%;
  background: var(--yellow);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.main-nav li:hover::after {
  width: 100%;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* -------------------------------- HERO -------------------------------------*/
.hero-text,
.travel-destination-form,
.hero-image-source {
  width: 100%;
  color: var(--light);
  position: absolute;
  text-align: center;
}

.hero-text {
  top: 20%;
}

.hero-text h1 {
  font-size: 60px;
}

.hero-image-source {
  top: 94%;
  right: 2%;
  display: flex;
  justify-content: flex-end;
}

.hero-image-source a {
  text-decoration: none;
  color: var(--light);
}

.travel-destination-form {
  top: 50%;
}

.travel-destination-title h1 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.search-destination-content {
  margin: 0 auto;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  width: 78%;
}

.search-destination-content label {
  font-size: 16px;
  color: var(--primary);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 5px 0;
}

.search-input {
  height: 30px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 2px 10px;
  border: none;
  font-size: 14px;
  color: var(--dark);
}
.search-input::placeholder {
  color: var(--dark);
}

#budget {
  width: 80px;
}

.home-search-button,
.btn {
  margin: 10px;
  background: transparent;
  color: var(--light);
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid var(--light);
  cursor: pointer;
  padding: 12px 34px;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 20% 1fr;
  grid-template-areas:
    'side-bar content1'
    'content2 content2';
  row-gap: 1%;
  column-gap: 5%;
  margin: 0 10%;
}

.side-bar {
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  grid-area: side-bar;
}

.about-us {
  grid-area: content1;
  margin-top: 40px;
  text-align: center;
}

.about-us > p {
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-between;
}

.reason-col {
  flex-basis: 32%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px 12px;
  box-sizing: border-box;
  box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.3);
}
/*-------------------------------- POPULARE PLACES --------------------------------*/
.places {
  grid-area: content2;
  text-align: center;
  padding-bottom: 40px;
}

/*
.card-places .card {
  position: relative;
  max-width: 300px;
  height: 450px;
  background: var(--light);
  margin: 30px 15px;
  padding: 5px 0px;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in-out;
}

.card-places .card:hover {
  transform: translateY(20px);
}

.card-places .card:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  transition: 0.5s all;
  z-index: 2;
}

.card-places .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-places .card .card-text {
  display: relative;
  padding: 10px 15px;
  text-align: left;
  color: var(--light);
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card-places .card:hover .card-text {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
  z-index: 3;
}

.btn {
  padding: 5px 10px;
}

.places .card .card-text a {
  text-decoration: none;
}
*/
/*-------------------------------- FOOTER --------------------------------*/
footer {
  background: var(--blue);
  grid-area: footer;
}

.footer {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 70% 15%;
  grid-template-areas:
    'title register'
    'credits social';
  align-items: stretch;
  justify-items: stretch;
  margin: 0 10%;
  padding: 20px 0 30px;
}

.footer .newsletter-title {
  grid-area: title;
  font-size: 32px;
  color: var(--light);
  align-self: center;
}
.footer .newsletter-title .newsletter-text {
  font-size: 16px;
}

.footer .newsletter-form {
  grid-area: register;
  align-self: flex-end;
  margin-bottom: 40px;
  justify-self: flex-end;
}

.footer .newsletter-form .newsletter-form-input {
  border: none;
  border-bottom: 2px var(--light) solid;
  font-size: 16px;
  background: none;
}

::placeholder {
  color: var(--light);
}

.footer .credits {
  grid-area: credits;
  color: var(--light);
  align-self: center;
  justify-self: flex-start;
}

.footer .social {
  color: var(--light);
  grid-area: social;
  align-self: center;
  justify-self: flex-end;
}

button {
  background: var(--light);
  border-color: var(--light);
  border-width: 2px;
  color: var(--light);
  background: var(--blue);
  transition: all 0.3s ease 0s;
  font-size: 30px;
  padding: 0 10px;
  margin-left: 30px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1024px) {
  /*------------------------- NAV-BAR----------------------------*/
  .main-nav a {
    font-size: 16px;
  }

  /*------------------------- HERO ----------------------------*/
  .hero-text h1 {
    font-size: 40px;
  }
  .search-destination-content {
    flex-direction: column;
    width: 50%;
  }
  .travel-destination-form {
    top: 35%;
  }

  /*------------------------- MAIN ----------------------------*/
  .side-bar {
    margin: auto 0;
    display: none;
  }
  .wrapper {
    grid-template-columns: 0% 1fr;
    grid-gap: 0;
  }

  /*------------------------- FOOTER ----------------------------*/
  .footer #newsletterForm {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  /*------------------------- NAV_BAR ----------------------------*/
  .main-nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--blue);
    text-align: center;
    left: -100%;
    transition: all 0.5s;
  }

  .main-nav ul li {
    display: block;
    margin: 50px 0;
  }

  .main-nav.responsive {
    position: relative;
  }
  .main-nav.responsive .burger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  /*body{
    overflow-x: hidden;
  }
  
  .main-nav ul{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    z-index: 2;
  }
*/
  .burger {
    display: inline-block;
  }

  /*------------------------- HERO ----------------------------*/
  .hero-text {
    top: 10%;
  }
  .hero-text h1 {
    font-size: 30px;
    padding: 8%;
  }
  .hero-image-source {
    font-size: 8px;
    top: 98%;
  }
  .travel-destination-form {
    top: 30%;
  }

  /*------------------------- MAIN ----------------------------*/
  .row {
    flex-direction: column;
  }
  .reason-col {
    margin: 10px 0;
  }
  .side-bar {
    display: none;
  }
  .wrapper {
    grid-template-columns: 0% 1fr;
    grid-gap: 0;
  }

  /*------------------------- FOOTER ----------------------------*/

  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .footer .newsletter-title {
    display: block;
    font-size: 24px;
    padding: 8% 8% 0;
  }
  .footer .newsletter-title .newsletter-text,
  .footer .newsletter-form .newsletter-form-input {
    font-size: 18px;
    font-weight: normal;
  }
  .newsletter-button {
    font-size: 18px;
  }
  .footer .newsletter-form {
    margin: auto;
  }
  .footer .credits,
  .footer .social {
    font-size: 16px;
  }
}
