* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
}
.parallax {
  background-image: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 80vh;
  width: 100vw;
}

@media screen and (min-width: 1201px) {
  destination-form {
    font-size: small;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  destination-form {
    font-size: small;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  destination-form {
    font-size: small;
  }

  .contentDescription {
    display: flex;
    flex-direction: column;
  }
  .contentDescription img {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }
  .contentDescription .mainContent {
    width: 100vw;
    text-align: center;
    margin: 0;
    margin-top: 1em;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  destination-form {
    font-size: 0.7em;
  }

  .contentDescription {
    display: flex;
    flex-direction: column;
  }
  .contentDescription img {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }
  .contentDescription .mainContent {
    width: 100vw;
    text-align: center;
    margin: 0;
    margin-top: 1em;
    font-size: 0.7em;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  destination-form {
    font-size: 0.6em;
    width: 50vw;
  }

  .contentDescription {
    display: flex;
    flex-direction: column;
  }
  .contentDescription img {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }
  .contentDescription .mainContent {
    width: 100vw;
    text-align: center;
    margin: 0;
    margin-top: 1em;
    font-size: 0.7em;
  }
}
