* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
}

img {
  background-size: cover;
  height: 80vh;
  width: 100vw;
}
.headerText {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
.headerText h1 {
  color: white;
  font-size: 3em;
}
.headerText ul {
  display: flex;
  align-items: center;
}
.headerText ul li {
  list-style-type: none;
  margin-right: 1em;
  font-size: 1.5em;
  font-weight: 600;
}
.headerText ul li a {
  text-decoration: none;
  color: black;
}
.headerText ul input {
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 1.3em;
  border-style: none;
  color: blue;
  font-weight: 600;
  cursor: pointer;
}
.hero {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
}
.hero h1 {
  font-size: 5em;
  text-align: center;
  color: white;
}
.hero input {
  padding: 1.7em 3.5em;
  border-radius: 1em;
  border-style: none;
  color: white;
  background-color: blue;
  font-size: large;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2em;
  cursor: pointer;
}
.travelForm {
  /* display: flex; */
  display: inline;
  width: 70%;
  margin: 0 auto;
  /* justify-content: space-evenly; */
  border: 5px solid rgba(60, 60, 255, 0.2);
  padding: 5em 4em;
  border-radius: 3em;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section.travelForm div {
  float: left;
  margin: 10px;
}
.travelForm select,
input {
  padding: 1.2em 2.5em;
  border-radius: 1.5em;
  outline: none;
  border: 3px solid rgb(200, 200, 200);
  color: rgba(200, 200, 200, 0.9);
  font-weight: bold;
}
.travelForm label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

.travelForm input[type='button'] {
  font-size: 1.5em;
  padding: 1.5em 2em;
  border-radius: 1.5em;
  color: white;
  background-color: blue;
  border-style: none;
  cursor: pointer;
}
.contentDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentDescription img {
  width: 50vw;
  height: 100vh;
  border-radius: 0% 200% 70% 0%;
  border-bottom: 10px solid rgb(55, 88, 220);
}
.contentDescription .mainContent {
  width: 50vw;
  margin-left: 5em;
  margin-top: 5em;
  font-family: Arial, Helvetica, sans-serif;
}
.contentDescription .mainContent h1 {
  margin-bottom: 0.2em;
  font-size: 5em;
}
.contentDescription .mainContent p {
  margin-bottom: 0.2em;
  font-size: 1.2em;
  color: rgb(155, 155, 155);
  line-height: 2em;
}
.contentDescription .mainContent input {
  margin-top: 3em;
  padding: 1.5em 3em;
  border-radius: 1.5em;
  background-color: white;
  border: 3px solid blue;
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0px 0px 50px -20px blue;
}

footer {
  background-color: rgba(0, 82, 254, 255);
  color: white;
}

footer .getInTouch {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
footer .getInTouch h1 {
  margin-bottom: 0.5em;
  padding-top: 1em;
  font-size: 3em;
}
footer .getInTouch p {
  font-size: 1.2em;
  margin-bottom: 1.7em;
}
footer .getInTouch input[type='email'] {
  padding: 3em 0em;
  width: 40%;
  border-radius: 4em;
  position: relative;
  border: none;
}
footer .getInTouch input::placeholder {
  font-size: 1.2em;
  font-weight: bold;
  width: 100vw;
  padding-left: 3em;
  position: fixed;
  color: #8d98bd;
}
footer .getInTouch input[type='button'] {
  padding: 1.7em 3em;
  border-radius: 3em;
  background-color: rgba(0, 82, 254, 255);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  right: 30%;
  margin-top: 0.2em;
  border: none;
}

footer .contacts {
  border-top: 1px solid white;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
footer .contacts ul {
  display: flex;
}
footer .contacts ul li {
  list-style-type: none;
  margin-right: 2em;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  header .hero h1 {
    font-size: 3em;
  }
  .travelForm {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 1440px) {
  .contentDescription {
    font-size: 0.5em;
    display: inline-block;
  }
  .contentDescription .mainContent {
    text-align: center;
    width: 100vw;
  }
}
@media only screen and (max-width: 1288px) {
  header .hero h1 {
    font-size: 4em;
  }
}
@media only screen and (max-width: 1130px) {
  footer .getInTouch input[type='button'] {
    display: block;
    background-color: green;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 850px) {
  header .headerText {
    display: block;
    text-align: center;
  }
  header .headerText ul {
    width: 100%;
    height: auto;
    font-size: 0.7em;
    justify-content: center;
  }
  header .hero h1 {
    font-size: 3em;
  }
  footer .contacts {
    flex-direction: column;
    text-align: center;
  }
  footer .contacts ul {
    justify-content: center;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 680px) {
  .contentDescription img {
    width: 100vw;
    border-radius: 0;
  }
}

@media only screen and (max-width: 620px) {
  footer .getInTouch input[type='email'] {
    font-size: 0.5em;
    width: 50%;
  }
  footer .getInTouch input[type='email']::placeholder {
    left: -10%;
  }
}
@media only screen and (max-width: 535px) {
  header .hero h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 445px) {
  header .headerText {
    margin-top: 3em;
    line-height: 2em;
    height: 25%;
  }
  header .headerText h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  header .hero h1 {
    margin-top: 16em;
    font-size: 1.5em;
  }
  header .headerText ul {
    display: block;
    margin-left: 0.5em;
    font-size: 1.2em;
  }
  header .headerText ul input {
    margin-right: 1em;
    margin-top: 0.5em;
  }
  .travelForm input,
  select {
    width: 80%;
  }
  .contentDescription img {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
  .contentDescription .mainContent {
    margin: 0 auto;
  }
  footer .contacts {
    font-size: 1.2em;
  }
  footer .contacts ul {
    flex-direction: column;
  }
  footer .contacts ul li {
    margin: 0.5em;
  }
}
