* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
}

img {
  background-size: cover;
  height: 80vh;
  width: 100vw;
}
.headerText {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
.headerText h1 {
  color: white;
  font-size: 3em;
}
.headerText ul {
  display: flex;
  align-items: center;
}
.headerText ul li {
  list-style-type: none;
  margin-right: 1em;
  font-size: 1.5em;
  font-weight: 600;
}
.headerText ul li a {
  text-decoration: none;
  color: black;
}
.headerText ul input {
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 1.3em;
  border-style: none;
  color: blue;
  font-weight: 600;
  cursor: pointer;
}
.descriptionTour {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
}
.descriptionTour h1 {
  font-size: 5em;
  text-align: center;
  color: white;
}
.descriptionTour input {
  padding: 1.7em 3.5em;
  border-radius: 1em;
  border-style: none;
  color: white;
  background-color: blue;
  font-size: large;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2em;
  cursor: pointer;
}
.travelForm {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  justify-content: space-evenly;
  border: 5px solid rgba(60, 60, 255, 0.2);
  padding: 5em 4em;
  border-radius: 3em;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.travelForm .destinations select {
  padding: 1.3em 4em;
  border-radius: 1em;
  border: 3px solid rgb(200, 200, 200);
  color: rgba(200, 200, 200, 0.9);
  font-weight: bold;
}
.travelForm .destinations,
.members {
  font-size: 1.2em;
  font-weight: bold;
}
.travelForm .destinations label {
  display: block;
  margin-bottom: 0.4em;
}
.travelForm .members label {
  display: block;
  margin-bottom: 0.4em;
}
.travelForm input {
  padding: 1.2em;
  border-radius: 1em;
  border: 3px solid rgb(200, 200, 200);
  color: rgba(200, 200, 200, 0.9);
  font-weight: bold;
}
.travelForm .members input {
  padding: 1.4em;
}
.travelForm .checkIn label,
.checkOut label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.travelForm input[type='button'] {
  font-size: 1.5em;
  padding: 1em 2em;
  border-radius: 1em;
  color: white;
  background-color: blue;
  border-style: none;
  cursor: pointer;
}
.contentDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentDescription img {
  width: 50vw;
  height: 100vh;
  border-radius: 0% 200% 70% 0%;
  border-bottom: 10px solid rgb(55, 88, 220);
}
.contentDescription .mainContent {
  width: 50vw;
  margin-left: 5em;
  margin-top: 5em;
  font-family: Arial, Helvetica, sans-serif;
}
.contentDescription .mainContent h1 {
  margin-bottom: 0.2em;
  font-size: 5em;
}
.contentDescription .mainContent p {
  margin-bottom: 0.2em;
  font-size: 1.2em;
  color: rgb(155, 155, 155);
  width: 30vw;
  line-height: 2em;
}
.contentDescription .mainContent input {
  margin-top: 3em;
  padding: 1.5em 3em;
  border-radius: 1.5em;
  background-color: white;
  border: 3px solid blue;
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0px 0px 50px -20px blue;
}
