* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 1fr 50px;
  grid-template-rows: 200px 1fr 100px;
  background-color: rgb(240, 240, 240);
  grid-template-areas:
    'header header header'
    'side content content'
    'footer footer footer';
  grid-gap: 0.5rem;
}
header {
  grid-area: header;
  background-color: rgb(14, 14, 151);
  margin: 0.5rem 0.5rem 0;
}

.side {
  grid-area: side;
  background-color: rgb(255, 204, 0);
  margin-left: 0.5rem;
}

.content {
  grid-area: content;
  background-color: deepskyblue;
  margin-right: 0.5rem;
}

footer {
  background-color: rgb(69, 191, 69);
  grid-area: footer;
  margin: 0 0.5rem 0.5rem;
}
body h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 2.5rem;
}
