html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS';
  background-color: #ededed;
}
header{
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(133, 133, 133, 0.4);
  font-size: 32px;
  align-items: center;
  justify-content: space-around;
}
h1{
  margin-block-start: 0;
  margin-block-end: 0;
}
a{
  text-decoration: none;
  color: #000;
}
.nav-bar{
  font-size: 20px;
}
ul{
  width: 60vw;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
}
li{
  display: inline-flex;
  padding: 5px;
}
.hero-image{
  background-image: url("https://images.unsplash.com/photo-1535191059345-c16453b851b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  top: 0;
  display: flex;
  background-position: center;
  background-size: cover; 
  height: 800px;
}
.hero-content{
  text-align: center;
  line-height: 400px;
  width: 100%;
  font-size: 50px;
}
.travel-destination-form{
  position: absolute;
  top: 450px;
  left: 74px;
  background: rgba(255,255,255,0.26);
  border-radius: 12px;
  padding: 40px 60px;
  width: 80%;
  text-align: center;
}
.search-destination-title{
  background-color: #fff;
  width: 350px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;;
}
.search-destination-content{
  background-color: #fff;
  padding: 30px 20px;
}

.search-input{
  height: 50px;
  width: 150px;
  background: #f2f5f6;
  border: none;
  padding-left: 20px;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #72728c;
}

.home-search-button{
  width: 150px;
  height: 50px;
  margin: 10px;
  background: #181818;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.about-us{
  text-align: center;
  padding: 60px;
}
.newsletter{
  height: 500px;
  width: auto;
  background-image: url("https://images.unsplash.com/photo-1495145910046-717b12bffcf7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.newsletter-title{
  height: 200px;
  line-height: 200px;
  font-size: 36px;
  color: #000;
}
.newsletter-form-input{
  width: 50%;
  height: 50px;
  background: rgba(255,255,255,0.5);
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  padding-left: 22px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}
.newsletter-form{
  padding: 20px;
}
.newsletter-button {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background: rgba(255,255,255,0.5);
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}